:root {
  --color1: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chau Philomene One", sans-serif;
}

body {
  background-color: hsl(290, 34%, 10%);
  border: 1px solid black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* hsl(25, 43%, 79%) hsl(265, 38%, 89%)*/

.logo {
  font-size: 60px;
}

main {
  position: relative;
  background-color: hsl(25, 43%, 79%);
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 80%;
}

main::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: red; */
  border-top: 3px solid hsl(290, 34%, 10%);
  border-left: 3px solid hsl(290, 34%, 10%);
  border-bottom: 3px solid hsl(25, 43%, 79%);
  border-right: 3px solid hsl(25, 43%, 79%);
  top: 10px;
  left: 10px;
}

main::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 2.7px;
  background-color: hsl(25, 43%, 79%);
  bottom: -3.5%;
  left: 10px;
  z-index: 1;
}

#adjust {
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  height: 2.7px;
  width: 16px;
  background-color: hsl(25, 43%, 79%);
  top: 12%;
  left: 89.9%;
}

#names,
#usn {
  /* border: 1px solid black; */
  padding: 20px;
  /* margin: 50px; */
}

.checkboxes {
  position: relative;
  padding: 20px;
  /* border: 1px solid black; */
}

#checkbox {
  border: none;
  display: block;
}

.flexer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.name,
.roll,
.days {
  font-size: 20px;
}

/* #checkboxes {
  padding: 0%;
} */

#adjust {
  /* border-right: 1px solid black; */
  display: flex;
}

.fa-unlock,
.fa-lock {
  position: absolute;
  top: 25px;
  right: 0px;
  /* display: none; */
}

@media only screen and (max-width: 700px) {
  main {
    width: 90%;
  }
}
